.product {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 1040px) {
    display: flex;
    flex-direction: column;
  }

  &__img {
    height: 500px;
    width: 500px;
    object-fit: contain;

    @media only screen and (max-width: 800px) {
      height: 100%;
      width: 100%;
    }
  }

  &__body {
    padding: 16px 24px;
  }

  &__price {
    padding-left: 5px;
    font-size: 24px;

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
    }
  }
  &__discount {
    font-size: 14px;
    color: #8d0101;
  }

  &__mrp {
    font-size: 12px;
    color: #787878;
    &__price {
      text-decoration: line-through;
    }
  }

  &__status {
    margin-left: 10px;
    padding: 2px 4px;
    font-size: 10px;
    color: #045004;
    border-radius: 3px;
    background-color: #004b00;
    color: #fafafa;
    white-space: nowrap;
    &__low {
      background-color: #b60000;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    flex-wrap: wrap;
  }

  &__brand {
    color: #1a1a1a;
    font-size: 12px;
  }
  &__tag {
    &__wrapper {
      display: flex;
      gap: 5px;
    }
    background-color: #606060;
    color: #fafafa;
    border-radius: 3px;
    font-size: 10px;
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }

  &__dimensions {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    &__title {
      margin: 5px 0;
    }

    span {
      font-size: 12px;
    }
  }

  &__additional-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    gap: 20px;
  }

  &__policies {
    font-size: 12px;
    margin: 5px 0;
  }

  &__qr,
  &__barcode {
    width: 100px;
    height: 100px;
  }

  &__qr-barcode {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__meta {
    font-size: 12px;
    color: #787878;
  }

  &__description {
    color: #303030;
  }
  &__description-meta {
    grid-column: span 2;
  }
  &__review {
    padding: 8px 14px;
    background-color: #fdfdfd;
    margin-bottom: 5px;
    border-radius: 3px;

    &__container {
      grid-column: span 2;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__header,
    &__footer {
      font-size: 12px;
    }

    &__reviewer {
      font-size: 14px;
      font-weight: bold;
      &__email {
        color: #787878;
      }
    }
    &__comment {
      color: #303030;
    }

    &__date {
      margin-top: 10px;
      margin-left: 10px;
    }

    &__showMore {
      &__wrapper {
        text-align: right;
        margin: 10px;
      }

      border: none;
      background-color: #fff;
      font-size: 12px;
      color: #787878;
      text-decoration: underline;
      cursor: pointer;
      text-align: right;
      &:hover {
        color: #2563eb;
      }
    }
  }
}
